html{
  font-size: 100%;

}
body{
  font-family: sans-serif;
}
#secKontakter{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
}
#secKontakter div{
  padding: 1rem;

}
#secKontakter div:nth-last-child(6n+0),
#secKontakter div:nth-last-child(6n-1),
#secKontakter div:nth-last-child(6n-2){
  background-color: #eee;
}
