body{
  background-color: rgb(0, 232, 255)

}

#hoved{
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-gap: 5px;
}

#lantanider{
display: grid;
grid-template-columns:repeat(15,1fr);
grid-gap: 5px;
margin-left: 200px;
margin-right: 200px;
}
.grunnstoff{
  background-color:rgb(212, 212, 212)
}
.col-span-16{
  grid-column: span 16;
}
.col-span-15{
  grid-column: span 15;
}
.usynlig{
  opacity: 0;
}
.col-span-11{
  grid-column: span 10;
}

.color1{background-color: lightgreen;}
.color2{background-color: rgb(207, 50, 50) }
.color3{background-color: rgb(250, 223, 179)}
.color4{background-color: rgb(233, 100, 250)}
