main{

}

.grid{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media(max-width: 900px){
  .grid{
  grid-template-columns: 1fr 1fr 1fr;
}
.grid>articel>p{
  color: yellow;
  font-size: 26px;
}
}
@media(max/min-width: 600px){

  .grid{
    grid-template-columns: 1fr 1fr;
  }
  .grid>artikel>p{
    font-size: 32px;
    color: black;
  }
}
