body{
  background-color: rgb(219, 219, 219);
  margin: 0;
}

header{
  background-image: url(https://images.pexels.com/photos/8892/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;

}

main{
  margin: auto;
  width: 80%;
}

a{
    text-decoration: none;
    font-size: 1.25vw;
  }

div div a:hover{
  color: grey;
}

#logo{
font-size: 2.6vw;
margin: auto;
color: white;

}

#logolink{
  line-height: 4.2vw;
}

.navbar{
  display: grid;
  grid-template-columns: repeat(6,20%);
  text-decoration: none;
  margin: auto;
  text-align: center;
  line-height: 3.5vw;
  color: white;
  font-style: italic;
}

.navknapp{
  text-decoration: none;
  color:rgb(252, 252, 252) ;
  font-size: 1.7;
  transition: 0.7s;
  line-height: 4.2vw;
}

.navknapp:hover{
  background-color: rgb(59, 59, 59);
  transition: 0.7s;
  color: grey;
}

.gridHoved{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Yr{
grid-column: span 1;
padding-top: 2vw;
}

.Tunga{
  margin-top: 2vw;
grid-column: span 2;
}

}
.Hotel{
grid-column: span 1;
}

.Nyttiginfo{
  grid-column: span 1;
  background-color: rgb(148, 148, 148);
  border-radius: 20px;
}

.Nyttiginfo > p {
  margin-left: 20px;
  margin-right: 20px;
}

.Turbeskrivelse{
grid-column: span 1;
}

main img{
  width: 90%;
}

h2{
padding-left: 50px;
color: black;
}
h1{
padding-left: 20vw;
text-decoration: underline;
color: rgb(68, 67, 71);
}
