.button {
  background-color: grey;
  border: none;
  color: white;
  padding: 1vw 2.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6vw;
  margin: 0.4vw 0.2vw;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-left: 24vw;
  margin-top: 4vw;
  box-shadow: 0 1.2vw 1.6vw 0 rgba(0,0,0,0.24),0 1.7vw 5vw 0 rgba(0,0,0,0.19);

}

#merch{
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  grid-row-gap: 5vw;
  margin-left: 24vw;
  margin-top: 5vw;

}
