body{
margin: 0;


}

header{
  background-color: grey;
  display: grid;
  line-height: 2em;
  grid-template-columns: 10% 60% repeat(3,10%);
  align-items: center;
}

a{
  text-decoration: none;
  font-size: 1.25vw;
}

.knapp{
  text-align: center;
}

#hjem{
  grid-column: 3;
}



main{
  display: grid;
  grid-template-columns: 1;

}

nav{
  text-align: right;
}

nav li{
  display: inline-flex;

}
.storsak{
grid-column: span 3;
grid-template-columns: sapn 3;
grid-row: span 3;


}

.middelssak{
  grid-column: span 2;
  grid-row: span 2;
}
.litensak{
grid-column: span 1;
grid-row: span 1;

}
img{
width: %;
}
