body{
  background-color:white;
  margin: 0;

  }

main{
  margin: auto;
  width: 80%;
}

  }

div div a:hover{
  color: grey;
}



.gridHoved{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}



.Tunga{
  margin-top: 1vw;
  grid-column: span 1;
}

}
.Hotel{
  grid-column: span 1;
}

.Nyttiginfo{
  grid-column: span 1;

  border-radius: 20px;
}

.Nyttiginfo > p {
  margin-left: 20px;
  margin-right: 20px;
}

.Turbeskrivelse{
  grid-column: span 1;
}

main img{
  width: 90%;
}

h2{
  padding-left: 5vw;
  color: black;
}
a{
  color: black;
}
