
/*Plaseringen av chaten på siden */
main{
  margin-top: 3vw;
  margin-left: 3vw;

}

/* Utseende til komentarfeltet */
.stylechat{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    margin-right: 39vw;
  }

/* utseende til inputfeltene */
input{
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Fargen til h1 elementet på siden */
h1{
  color: rgb(58, 193, 242);
}
